@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Roboto:wght@100;300;400;500&display=swap');
/*     
about studio
background-color: #272624;
registration
 background-color: #1e1d1b;
 
 font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {
    width: 100%;
    height: fit-content;

}

.header {
    width: inherit;
    height: 100vh;
    background: url(./image/11.png);
    background-size: cover;
}

.header-text {
    width: 50%;
    height: fit-content;
    color: #ffffff;
}

.header-text>h1 {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 300px 0 30px 120px;
}

.header-text>p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding-left: 120px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.header-text>button {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    margin-left: 120px;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.hush:hover {
    background-color: #fda344;
    color: #000000;
}

.about-info {
    width: 100%;
    height: 80vh;
}

.about-info {
    width: inherit;
    height: inherit;
    display: flex;
}

.about-text {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #272624;
}

.text-holder>h2 {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.1;
    padding-left: 180px;
}

.border {
    width: 10%;
    border: none;
    border-top: 3px solid black;
    margin: 30px 0 30px 285px;
    border-color: #fdb467;
}

.text-holder>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

.registration {
    width: 50%;
    height: 80vh;
    color: #ffffff;
    background-color: #1e1d1b;
    display: flex;
}

.reg-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register>h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
    margin-left: 180px;
}

.register>p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 170px;
    margin-bottom: 20px;
}

.register>.border {
    width: 15%;
    border: none;
    border-top: 3px solid black;
    margin: 30px 0 30px 285px;
    border-color: #fdb467;
}

.register>button {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    margin-left: 240px;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.Hold:hover {
    background-color: #fda344;
    color: #000000;
}

.potter {
    width: 100%;
    height: 90vh;
}

.potter-holder {
    display: flex;
    width: 100%;
    height: inherit;
    background-color: #eee9e5;

}

.potter-text {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.potter-text-content {
    width: 70%;
    height: fit-content;
}


.potter-text-content>h2 {
    text-align: left;
    color: #111111;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-top: 100px;
}

.potter-text-content>.border {
    width: 25%;
    border: none;
    border-top: 3px solid black;
    margin-left: 5px;
    border-color: #fdb467;
}

.potter-text-content>p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
}

.potter-text-content>button {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    border: none;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 0.875rem;
}

.BOOK:hover {
    background-color: #fda344;
    color: #000000;
}


.potter-image {
    width: 70%;
    height: inherit;
    background: url(./image/12.png);
    background-size: cover;
    background-position: 50% 50%;
}

.potter-1 {
    width: 100%;
    height: 90vh;
}

.potter-holder-1 {

    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: inherit;
    background-color: #eee9e5;

}

.potter-text-1 {
    background-color: #212121;
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.potter-text-content-1 {
    width: 70%;
    height: fit-content;
    color: #ffffff;

}


.potter-text-content-1>h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: 400;
    padding-top: 100px;
}

.potter-text-content-1>.border {
    width: 25%;
    border: none;
    border-top: 3px solid black;
    margin-left: 5px;
    border-color: #fdb467;
}

.potter-text-content-1>p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
}

.potter-text-content-1>button {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    border: none;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 0.875rem;
}

.BOOK-1:hover {
    background-color: #fda344;
    color: #000000;
}


.potter-image-1 {
    width: 70%;
    height: inherit;
    background: url(./image/13.png);
    background-size: cover;
    background-position: 50% 50%;
}

.sales-container {
    width: 100%;
    height: 120vh;
    color: #111111;
    background-color: #eee9e5;
}

.sales-text {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.sales-content {
    width: 47%;
    height: fit-content;
    text-align: center;
}

.sales-content>h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}

.sales-content>p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.tri-image {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.image-holder {
    width: 85%;
    height: 50vh;
    display: flex;
}

.image {
    width: 34%;
    height: inherit;
    margin-left: 20px;
}

.one {
    background: url(./image/14.png);
    background-size: cover;
    background-position: 50% 50%;
}

.two {
    background: url(./image/15.png);
    background-size: cover;
    background-position: 50% 50%;
}

.three {
    background: url(./image/16.png);
    background-size: cover;
    background-position: 50% 50%;
}

.tri-text {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tri-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.tri-holder {
    width: 85%;
    height: fit-content;
    display: flex;
}

.text {
    width: 35%;
    height: inherit;
    margin-left: 20px;
    margin-bottom: 50px;
}

.text>h3 {
    padding: 20px 0 20px 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    font-family: Roboto, sans-serif;
}

.text>p {
    font-size: 1rem;
    line-height: 1.6;
}

.tri-text>button {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    border: none;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 0.875rem;
}

.product:hover {
    background-color: #fda344;
    color: #000000;
}

.container {
    width: 100%;
    height: 80vh;
    background: url(./image/17.png);
    background-position: 50% 50%;
    background-size: cover;
}

.text-box {
    width: 50%;
    height: fit-content;
    background-color: #eee9e5;
    position: relative;
    
}

.text-content {
    width: 90%;
    height: fit-content;
    display: flex;
    background-color: #eee9e5;
    justify-content: center;
    padding: 20px;
    position: absolute;
    left: 200px;
    top: 100px;
    
}

.student-info {
    width: 80%;
    height: fit-content;
}

.student-info>h2 {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: Roboto, sans-serif;
    padding-top: 40px;
}

.student-info>.border {
    width: 20%;
    border: none;
    margin-left: 5px;
    border-color: #fdb467;
}

.student-info>.logo-holder {
    width: 10%;
    height: fit-content;
    padding-bottom: 30px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: #111111;
    background-color: #fdb467;
}

.student-info>p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    text-align: left;
}

.student-info>h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    padding-bottom: 40px;
}

.closing-page{
    width: 100%;
    height: 80vh;
    color: #ffffff;
    background-color: #1e1d1b;
}

.closed-text-holder{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.closing-text{
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.closing-text > h2{
    padding-top: 150px;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    text-align: center;
    font-family: Roboto,sans-serif;
}

.closing-text > .border{
    width: 10%;
    border: none;
    border-top: 3px solid black;
    position: relative;
    left: 70px;
    border-color: #fdb467;
}

.closing-text > p{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    text-align: center; 
    padding-bottom: 30px;
}

.contact{
    align-self: normal;
}

.contact > input{
    padding: 10px 10px;
    background-color: #1e1d1b;
    border: 1px solid;
    border-radius: 3px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: #b3b3b3;
    width: 50%;
    margin-left: 120px;
}

.sub{
    font-family: 'Open Sans', sans-serif;
    background-color: #fdb467;
    color: #000000;
    padding: 15px 30px;
    border: none;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 0.875rem;
    margin-left: 10px;
}

.sub:hover {
    background-color: #fda344;
    color: #000000;
}

/* Laptop L */
@media (max-width:1075px) {
    .text-holder>h2 {
        padding-left: 131px;
    }

    .register>h2 {
        margin-left: 140px;
    }

    .register>.border {
        margin: 30px 0 30px 253px;
    }

    .register>p {
        margin-left: 142px;
    }

    .register>button {
        margin-left: 210px;
    }

    .border {
        margin: 31px 0 23px 243px;
    }

    .student-info>h4 {
        padding-bottom: 30px;
    }

    .text-content {
        top: 38px;
    }

    .closing-text {
        width: 67%;
    }


}

/* Laptop */
@media (max-width: 1024px) {

    .register>h2 {
        margin-left: 123px;
    }

    .register>.border {
        margin: 30px 0 30px 231px;
    }

    .register>p {
        margin-left: 117px;
    }

    .register>button {
        margin-left: 187px;
    }

    .potter-text-content>button {
        padding: 15px;
        margin-bottom: 90px;
    }

    .potter-text-content>p {
        padding-bottom: 19px;
    }

.image-holder {
    padding-top: 20px;
}


}

/* Tablet Device */
@media (max-width: 844px) {
    .header-text>h1 {
        font-size: 39px;
        padding: 80px 0 18px 120px;
    }

    .text-holder>h2 {
        padding-left: 64px;
    }

    .border {
    margin: 18px 0 18px 157px;
}


    .potter-text-content>button {
        padding: 15px 16px;
    }

    .register>h2 {
        margin-left: 68px;
    }

    .register>.border {
        margin: 30px 0 30px 185px;
}

.register>p {
    margin-left: 35px;
}

.register>button {
    margin-left: 123px;
}

.potter-text-content>h2 {
    padding-top: 97px;
    font-size: 32px;
}

.potter-text-content-1>p {
    font-size: 0.9rem;
}

.potter-text-content-1>button {
    padding: 7px 21px;
}

.potter-text-content>p {
    font-size: 14px;
    padding-bottom: 10px;
}

.text-box {
    width: 47%;
}

.student-info {
    width: 87%;
}

.student-info>h2 {
    padding-top: 10px;
}

.student-info>h4 {
    padding-bottom: 9px;
}

.text-content {
    left: 139px;
    top: 37px;
}

.closing-text > .border {
    left: 137px;
}

.closing-text {
    width: 88%;
    margin-top: 20px;
}

.tri-text {
    padding-top: 10px;
}

.text {
    margin-bottom: 28px;
}
.text>h3 {
    padding: 17px 0 17px 0;
}

.image-holder {
    padding-top: 13px;
}

.sales-content >h2{
    padding-top: 25px;
}


}
